//Ampliar el tiempo de sesión en una aplicación (por defecto 20min)
A) Dentro de <system.web>, añadir el tag: 
		<sessionState mode="InProc" cookieless="true" timeout="60" />	donde el timeout es en minutos.
B) Dentro de <system.web>, añadir el siguiente tag:
		<authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" protection="All" timeout="60"/>
    </authentication>
    <authorization>
      <deny users="?"/>
      <allow users="*"/>
    </authorization>

Se deben usar los dos, ya que uno es para la duración de la sesión y el otro el tiempo de autenticación dentro de
aplicación.

//Tratamiento de Errores:
		//Muestra todos los errores por pantalla, independiente del usuario:
		<customErrors mode="Off" />
		
		//Muestra los errores remotos redirigiendo a una URL:
		<customErrors mode="RemoteOnly" defaultRedirect="Error.aspx"> 
      <!--<error statusCode="403" redirect="NoAccess.htm"/>
      <error statusCode="404" redirect="FileNotFound.htm"/>-->
    </customErrors>
